astroid==4.0.2
cfgv==3.4.0
dill==0.4.0
distlib==0.4.0
filelock==3.20.0
identify==2.6.15
isort==7.0.0
mccabe==0.7.0
mypy==1.18.2
mypy_extensions==1.1.0
nodeenv==1.9.1
orjson==3.11.4
pathspec==0.12.1
platformdirs==4.5.0
pre_commit==4.4.0
pylint==4.0.3
PyYAML==6.0.3
tomlkit==0.13.3
typing_extensions==4.15.0
virtualenv==20.35.4
