astroid==3.1.0
cfgv==3.4.0
dill==0.3.8
distlib==0.3.8
filelock==3.13.3
identify==2.5.35
isort==5.13.2
mccabe==0.7.0
mypy==1.9.0
mypy-extensions==1.0.0
nodeenv==1.8.0
platformdirs==4.2.0
pre-commit==3.7.0
pylint==3.1.0
PyYAML==6.0.1
setuptools==69.2.0
tomlkit==0.12.4
typing_extensions==4.10.0
virtualenv==20.25.1
